.chat-bubble {
    max-width: 60%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  
  .chat-bubble.sender {
    background-color: #dcffef;
    align-self: flex-end;
  }
  
  .chat-bubble.receiver {
    background-color: #f5f5f5;
    align-self: flex-start;
  }